.box-set{
	width:650px;
	background:grey;
	margin-left:25px;
	position:relative;
	float:left;
}
.port{
	width:150px;
	float:left;
	margin:15px;
}

.bottom{
	position:relative;
	bottom:50px;
	font-color:white;
	background-width:100%;
	background-color:#4aaaa5;
	width:100%;
}
.container{
	width:100%
	border:1px #cccccc;
	background-color:white;
	overflow:auto;
}
.container2{
		position:sticky;
		width:100%;
		background-color:#ebebeb;
    	bottom:0;
}
.info{
	height:400px;
	width:600px;
	background:grey;
	position:relative;
	right:25px;
	float:right;
	top:50px;
}
div.menu{
	float:right;
}
a.menu{
	font-color:#777777;
	font-family:Arial;
	width:60px;
	height:60px;
	border:0;
}
div{
	padding:10px;
}
.content{
	width:960px;
	margin:auto;
	position:absolute;
	overflow:auto;
}
.about{
	width:650px;
	clear:left;
	overflow:auto;
}
.contact{
	width:650px;
	clear:left;
	overflow:auto;
}
.portfolio{
	width:650px;
	clear:left;
	overflow:auto;
} 
.sidebar{
	float:left;
	clear:both
}	
.icons{
	clear:right;
}
input{
	clear:left;
	width:100%;
}
textarea{
	width:100%;
}
}
header{
	padding:1em;
	text-align:center;
	overflow:auto;
	color:#ffffff;
}
footer{
width:100%;
  display: block;
  padding:1em;
  position:relative;
  bottom:0px;
  text-align: center;
  background: #ebebeb;
}
div{
}
body{
	background-image:url('../../assets/images/6.png');
	background-size: 1500px, 1500px;
	overflow:auto;
}	
.navbar-brand{
	font: Arial;
	font-color:#4aaaa5;
	font-size:25px;
	font-family:Georgia;
	padding:1em;
	float:left;
}

h1{color:white; 
	font: Arial;
	background-color:#4aaaa5;
	font-color:white;
	font-size:25px;
	font-family:Georgia;
	padding:1em;
	float:left;
}

h2{color:#4aaaa5; 
	font-size:25px;
	font-family:Georgia;
}
#connect{
	margin-left:45px;
}
}
p{
	color:#777777;
	font-family:Georgia;
}
